.input-error {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: red;
}
.input--small {
    font-size: .8em;
}
.input--medium {
font-size: 1em;
}
.input--large {
font-size: 1.2em;
}

.input-error-empty {
    display: none;
}